.paragraph p{
    /* color: var(--grey-4); */
}

.justify-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.justify-block p{
    width: 50%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .justify-block p{
        width: 100%;
    }
}