.project_cover_view {
    height: 700px;
    justify-content: center;
    overflow: hidden;
}

.cover_image{
    width: 1240px;
    position: absolute;
    z-index: -1;
}

.cover_row {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.cover_content_container {
    color: var(--main-white);
}

.left{
    width: 880px; /*400 */
}
.right {
    width: 560px; /*400 */
}
/*Custom temporary style for the main message of the Showcase*/
#h1_special_showcase_message{
    height: 300px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .cover_image{
        width: 620px;
    }
}