@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

:root {
    /*---------------------------- MAIN color of the brand */
    --main-1: #141630;
    --main-2: #272944;
    --main-3: #323556;
    --main-4: #5E6079;
    --main-5: #b0b4c5;
    --main-6: #DCE0F0;

    --main-white: #FFF;
    --main-black: #000;

    /*---------------------------- Actions */
    --primary: #16D950;
    --primary-light: #16F654;
    --primary-dark: #15A748;
    --primary-text: #035D22;

    --secondary: #FF8541;
    --secondary-light: #FFA979;
    --secondary-dark: #EB501F;
    --secondary-text: #A83C00;

    --ternary: #090B23;
    --ternary-light: #20234B;
    --ternary-dark: #040621;
    --ternary-text: #FFF;

    /*----------------------------*/
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #2c34c3;
    --background-color: #ffffff;

    --grey-1: #DFDFDF;
    --grey-2: rgb(203, 203, 203);
    --grey-3: #807F80;
    --grey-4: #3f3f3f;
    --grey-5: #F5F5F5;
    --grey-6: #d4d4d4;

    --font-normal: 400;

    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-lx: 32px;
    --spacing-lxx: 40px;
    --spacing-lxxx: 48px;
    --spacing-j: 56px;

    /**/
    --base-font-size: 16px;
    /* Define your base font size */
    --ratio: 1.25;
    /* Define your preferred ratio */

    /* Define font sizes */
    --fs-h1: 2.25rem;
    /* 2.25 * 16px = 36px */
    --fs-h2: 1.875rem;
    /* 1.875 * 16px = 30px */
    --fs-h3: 1.5rem;
    /* 1.5 * 16px = 24px */
    --fs-h4: 1rem; /* 1.125 * 16px = 18px */
    --fs-p1: 1rem; /* 1.125 * 16px = 18px */
    --fs-label: 0.9rem; /* 0.625 * 16px = 10px */
    --fs-button-label: 1rem; /* 1 * 16px = 16px */

    /* Define line-heights */
    --lh-h1: 1.7777778;
    /* 32px / 36px */
    --lh-h2: 1.6;
    /* 32px / 30px */
    --lh-h3: 1.3333333;
    /* 24px / 18px */
    --lh-h4: 1.5rem;
    /* 20px / 18px */
    --lh-p1: 1.5rem;
    /* 20px / 18px */
    --lh-label: 1;
    /* 16px / 10px */
    --lh-button-label: 1;
    /* 16px / 16px */
    /**/

    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*font-family: Paytone One;*/



    line-height: 1;
    font-weight: 400;
    letter-spacing: .05rem;

    color-scheme: light dark;
    color: var(--main-white);
    /* rgba(255, 255, 255, 0.87);*/
    background-color: var(--main-1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Paytone One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*min-height: 100vh;*/
    /* Takes the full viewport height */
    width: 100vw;
    
    /* height: 100vw; */
}

#app {
    /*main.jsx, where we bootstrap the app*/
    /*
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    padding: 0;
    margin: 0;
}

/*
  align-self: https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
  Cross Axis  https://developer.mozilla.org/en-US/docs/Glossary/Cross_Axis
*/

div {}


h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    /*2rem;*/

    color: var(--main-white);
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-size: var(--fs-h2);
    /*1.375rem*/
    line-height: var(--lh-h2);
    /*2rem*/

    color: var(--main-white);
    font-style: normal;
    font-weight: 400;
}

h3 {
    font-size: var(--fs-h3);
    /*1.125rem*/
    line-height: var(--lh-h3);
    /*1.5rem*/

    color: var(--main-white);
    font-style: normal;
    font-weight: 400;
}

h4 {
    font-size: var(--fs-h4);
    /*0.875rem*/
    line-height: var(--lh-h4);
    /*1.25rem*/

    color: var(--main-white);
    font-style: normal;
    font-weight: 700;
}

p {
    letter-spacing: normal;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-p1);
    /*0.875rem*/
    line-height: var(--lh-p1);
    /*1.25rem*/
    color: var(--main-white);
    font-style: normal;
    font-weight: 400;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-label);
    /*0.875rem*/
    line-height: var(--lh-label);
    /*1.25rem*/

    color: var(--main-white);
    font-style: normal;
    font-weight: 400;
}

.p-small {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-label);
    /*0.75rem*/
    line-height: var(--lh-p1);
    /*1rem;*/
    color: var(--main-5);
    font-style: normal;
    font-weight: 400;
    /* 133.333% */
}

button {
    color: var(--primary-text);
    font-size: var(--fs-h3);
    /*0.75rem;*/
    font-style: normal;
    font-weight: 700;
    font-family: inherit;
    line-height: var(--fs-h3);
    text-transform: uppercase;

    border-radius: var(--spacing-m);
    background: var(--primary);
    border: 1px solid var(--primary-light);
    box-shadow: 0px 8px 0px 0px #15A748;

    display: flex;
    align-self: stretch;
    height: var(--spacing-lxxx);
    padding: var(--spacing-s);
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    cursor: pointer;
}

*:disabled {
    background-color: var(--main-2);
    color: var(--main-1);
    border: 1px solid var(--main-3);
    box-shadow: 0px 8px 0px 0px var(--ternary-dark);
    opacity: 0.9;
}

.secondary {
    color: var(--secondary-text);
    border: 1px solid var(--secondary-light);
    background: var(--secondary);
    box-shadow: 0px 4px 0px 0px var(--secondary-dark);
}

.ternary {
    text-transform:none;
    color: var(--ternary-text);
    border: 1px solid var(--ternary-light);
    background: var(--ternary);
    box-shadow: 0px 4px 0px 0px var(--ternary-dark);
}

.primary-no-border {
    font-size: var(--fs-p1);
    text-transform:none;
    color: var(--primary);
    background: none;
    box-shadow: none;
    border: none;
}

a {
    font-weight: 500;
    color: var(--main-4);
    /*#646cff;*/
    text-decoration: inherit;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 133.333% */
    text-decoration-line: underline;
}

a:hover {
    color: var(--main-4);
}

input {
}

/* Default input style */
input[type="text"],
textarea {

    display: flex;
    height: var(--spacing-j);
    padding: 0.08rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;


    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background: var(--ternary);

    /*Text*/
    font-family: 'Poppins', sans-serif;
    
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 1.25rem;

}

/* Enabled state */
input[type="text"]:enabled,
textarea:enabled {
    border: 1px solid var(--primary);
    /*Text*/
    font-size: var(--fs-p1);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 1.25rem;
    cursor: text;
}

/* Disabled state */
input[type="text"]:disabled,
textarea:disabled {
    border: 2px solid var(--main-4);
    background-color: var(--main-2);
    cursor: not-allowed;

    color: var(--main-2);
    font-size: var(--fs-p1);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 1.25rem;
}

/* Focus state */
input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--primary);
    /* Change to your desired focus color */
    box-shadow: 0 1px 5px var(--primary-text);
    /* Adjust shadow properties */
    
    color: var(--main-white);
    font-size: var(--fs-p1);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 1.25rem;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: var(--main-5);
  
}

/* Filled state */
input[type="text"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    background-color: var(--main-1);
    border: 2px solid var(--primary);
    color: var(--main-white);
    font-size: var(--fs-p1);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 1.25rem;
}

.m-top-l {
    margin-top: var(--spacing-lxxx);
}

.m-top-m {
    margin-top: var(--spacing-l);
}

.m-bottom-l {
    margin-bottom: var(--spacing-lxxx);
}

.m-bottom-m {
    margin-bottom: var(--spacing-l);
}

.m-bottom-s {
    margin-bottom: var(--spacing-s);
}

/*Fixed positions*/
.fixed-top {
    position: absolute;
    top: 0rem;
    width: 100%;
}

.fixed-bottom {
    position: absolute;
    bottom: 0rem;
    width: 100%;
}